In [3]:
import sqlite3
import pandas as pd

# Path to your SQLite database
db_path = "../data/data.db"

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# List all tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in the database:")
print(tables)


taxi_data = pd.read_sql_query("SELECT * FROM taxi_data;", conn)

weather_data = pd.read_sql_query("SELECT * FROM weather_data;", conn)


# Close the connection
conn.close()

Tables in the database:
           name
0     taxi_data
1  weather_data

In [7]:
print(weather_data.head)

<bound method NDFrame.head of          name    datetime  tempmax  tempmin  temp  feelslikemax  feelslikemin  \
0    New York  2020-01-01      5.1      1.4   3.3           1.3          -2.5
1    New York  2020-01-02      9.3      0.6   5.1           7.2          -3.2
2    New York  2020-01-03      9.3      6.8   8.2           9.2           4.9
3    New York  2020-01-04     10.2      6.2   8.8          10.2           2.7
4    New York  2020-01-05      5.4      2.2   3.7           1.5          -2.4
..        ...         ...      ...      ...   ...           ...           ...
177  New York  2020-06-26     30.2     21.2  25.9          28.9          21.2
178  New York  2020-06-27     27.2     22.4  24.9          28.3          22.4
179  New York  2020-06-28     32.2     22.8  26.5          33.1          22.8
180  New York  2020-06-29     30.5     21.5  24.9          30.5          21.5
181  New York  2020-06-30     25.6     20.0  22.5          25.6          20.0

     feelslike   dew  humidity  ...  solarenergy  uvindex  severerisk  \
0         -0.8  -5.8      51.5  ...          3.5        2        None
1          2.9  -4.0      52.2  ...          7.4        4        None
2          7.2   4.8      79.7  ...          1.5        1        None
3          7.7   7.2      90.4  ...          1.2        1        None
4         -0.8  -5.7      50.6  ...          8.0        5        None
..         ...   ...       ...  ...          ...      ...         ...
177       25.5  12.9      47.8  ...         26.1       10        None
178       25.0  17.3      63.7  ...          9.2        4        None
179       27.0  19.6      67.9  ...         23.4       10        None
180       25.0  17.7      66.8  ...         23.5        9        None
181       22.5  17.2      72.5  ...         16.3        8        None

                 sunrise               sunset  moonphase  \
0    2020-01-01T07:20:08  2020-01-01T16:38:55       0.21
1    2020-01-02T07:20:14  2020-01-02T16:39:46       0.25
2    2020-01-03T07:20:18  2020-01-03T16:40:38       0.27
3    2020-01-04T07:20:20  2020-01-04T16:41:32       0.30
4    2020-01-05T07:20:20  2020-01-05T16:42:27       0.34
..                   ...                  ...        ...
177  2020-06-26T05:26:43  2020-06-26T20:31:17       0.19
178  2020-06-27T05:27:06  2020-06-27T20:31:18       0.23
179  2020-06-28T05:27:31  2020-06-28T20:31:16       0.25
180  2020-06-29T05:27:58  2020-06-29T20:31:12       0.30
181  2020-06-30T05:28:26  2020-06-30T20:31:06       0.34

                 conditions  \
0          Partially cloudy
1                     Clear
2    Rain, Partially cloudy
3    Rain, Partially cloudy
4          Partially cloudy
..                      ...
177        Partially cloudy
178  Rain, Partially cloudy
179  Rain, Partially cloudy
180  Rain, Partially cloudy
181  Rain, Partially cloudy

                                           description               icon  \
0                    Partly cloudy throughout the day.  partly-cloudy-day
1                 Clear conditions throughout the day.          clear-day
2    Partly cloudy throughout the day with a chance...               rain
3          Partly cloudy throughout the day with rain.               rain
4                    Partly cloudy throughout the day.  partly-cloudy-day
..                                                 ...                ...
177                  Partly cloudy throughout the day.  partly-cloudy-day
178        Partly cloudy throughout the day with rain.               rain
179  Clearing in the afternoon with late afternoon ...               rain
180  Partly cloudy throughout the day with late aft...               rain
181        Partly cloudy throughout the day with rain.               rain

                                              stations
0    72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
1    72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
2    72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
3    72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
4    72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
..                                                 ...
177  72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
178  72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
179  72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
180  72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...
181  72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7...

[182 rows x 33 columns]>

In [8]:
print(taxi_data.head)

<bound method NDFrame.head of           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0              1.0  2020-01-01 00:28:15   2020-01-01 00:33:03
1              1.0  2020-01-01 00:35:39   2020-01-01 00:43:04
2              1.0  2020-01-01 00:47:41   2020-01-01 00:53:52
3              1.0  2020-01-01 00:55:23   2020-01-01 01:00:14
4              2.0  2020-01-01 00:01:58   2020-01-01 00:04:16
...            ...                  ...                   ...
16847773       NaN  2020-06-30 23:05:00   2020-06-30 23:32:00
16847774       NaN  2020-06-30 23:21:47   2020-06-30 23:25:24
16847775       NaN  2020-06-30 23:34:00   2020-06-30 23:44:00
16847776       NaN  2020-06-30 23:22:47   2020-06-30 23:42:01
16847777       NaN  2020-06-30 23:56:18   2020-07-01 00:27:19

          passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                     1.0           1.20         1.0                  N
1                     1.0           1.20         1.0                  N
2                     1.0           0.60         1.0                  N
3                     1.0           0.80         1.0                  N
4                     1.0           0.00         1.0                  N
...                   ...            ...         ...                ...
16847773              NaN          12.96         NaN               None
16847774              NaN           0.36         NaN               None
16847775              NaN           2.36         NaN               None
16847776              NaN           5.50         NaN               None
16847777              NaN           9.59         NaN               None

          PULocationID  DOLocationID  payment_type  fare_amount  extra  \
0                  238           239           1.0         6.00    3.0
1                  239           238           1.0         7.00    3.0
2                  238           238           1.0         6.00    3.0
3                  238           151           1.0         5.50    0.5
4                  193           193           2.0         3.50    0.5
...                ...           ...           ...          ...    ...
16847773            17            69           NaN        32.91    0.0
16847774            41            41           NaN        11.45    0.0
16847775           242            81           NaN        18.45    0.0
16847776            14           118           NaN        15.90    0.0
16847777            61           137           NaN        29.68    0.0

          mta_tax  tip_amount  tolls_amount  improvement_surcharge  \
0             0.5        1.47          0.00                    0.3
1             0.5        1.50          0.00                    0.3
2             0.5        1.00          0.00                    0.3
3             0.5        1.36          0.00                    0.3
4             0.5        0.00          0.00                    0.3
...           ...         ...           ...                    ...
16847773      0.5        2.75          6.12                    0.3
16847774      0.5        2.75          0.00                    0.3
16847775      0.5        2.75          0.00                    0.3
16847776      0.5        6.23         12.24                    0.3
16847777      0.5        0.00          0.00                    0.3

          total_amount  congestion_surcharge
0                11.27                   2.5
1                12.30                   2.5
2                10.80                   2.5
3                 8.16                   0.0
4                 4.80                   0.0
...                ...                   ...
16847773         42.58                   0.0
16847774         15.00                   0.0
16847775         22.00                   0.0
16847776         35.17                   0.0
16847777         32.98                   2.5

[16847778 rows x 18 columns]>

In [11]:
# Group taxi_data by date and calculate the total passenger count
daily_passenger_count = taxi_data.groupby('tpep_pickup_datetime')['passenger_count'].sum().reset_index()

# Rename the columns for clarity
daily_passenger_count.rename(columns={'passenger_count': 'total_passengers'}, inplace=True)

# Display the aggregated data
print(daily_passenger_count)

        tpep_pickup_datetime  total_passengers
0        2003-01-01 00:07:17               1.0
1        2008-12-31 22:20:23               1.0
2        2008-12-31 23:02:19               6.0
3        2008-12-31 23:02:40               1.0
4        2008-12-31 23:02:48               1.0
...                      ...               ...
6368482  2020-11-01 15:26:33               1.0
6368483  2020-11-01 15:41:04               1.0
6368484  2021-01-02 00:22:00               1.0
6368485  2021-01-02 00:44:08               1.0
6368486  2021-01-02 01:12:10               1.0

[6368487 rows x 2 columns]

In [14]:
# Ensure the datetime column is in datetime format
taxi_data['tpep_pickup_datetime'] = pd.to_datetime(taxi_data['tpep_pickup_datetime'])

# Extract the date from the datetime column
taxi_data['date'] = taxi_data['tpep_pickup_datetime'].dt.date

# Filter data for the date range: 01-2020 to 06-2020 (using datetime.date for comparison)
start_date = pd.to_datetime('2020-01-01').date()
end_date = pd.to_datetime('2020-06-30').date()
filtered_taxi_data = taxi_data[(taxi_data['date'] >= start_date) & 
                               (taxi_data['date'] <= end_date)]

# Group by the extracted date and calculate the total passenger count
daily_passenger_count = filtered_taxi_data.groupby('date')['passenger_count'].sum().reset_index()

# Rename the columns for clarity
daily_passenger_count.rename(columns={'passenger_count': 'total_passengers'}, inplace=True)

# Display the filtered and aggregated data
print(daily_passenger_count.head())

         date  total_passengers
0  2020-01-01          281825.0
1  2020-01-02          253419.0
2  2020-01-03          285181.0
3  2020-01-04          295810.0
4  2020-01-05          258618.0